/*  your css code here. If applicable */
.container{
width: 30vw;
height: 20vh;
margin: auto;
border: 5px solid black;
border-radius: 50px;
background-color: #d2d2d3;
display: flex;
align-items: center;
justify-content: center ;
}
.green{
  background-color: #007f00;
  width: 20%;
  height: 60%;
  margin-left: 50px;
  border-radius: 100%;
}
.yellow{
  background-color: #fefe03;
  width: 20%;
  height: 60%;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100%;
}
.red{
  background-color: #ff0000;
  width: 20%;
  height: 60%;
  margin-right: 50px;
  border-radius: 100%;
}